<!DOCTYPE html>
<div align="left">
  <form> 
    <button type="Submit" formaction="dashboard">Dashboard</button>
  </form>
</div>
<p></p>
<div align="center">

<%= @filecontent %>
<p></p>
<%= @data_arr %>
<p></p>
<%= @plate_data %>
<p></p>
<%= @tot_prot_hash %>

</div>